@import url('https://fonts.googleapis.com/css?family=Cinzel');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

header {
    background-color: #FFED74;
    text-align:center;
    font-size: 50px;
    font-family: 'Pacifico', cursive;
    border-style: solid;
    border-width: 5px;
    margin: .25em;
    padding: 0em;

}

nav {
    background-color: #E8C66A;
    border-style: solid;
    border-width: 5px;
    text-align: center;
    display: block;
    margin:10px;    
    padding:20px;
}

a {
    font-size: 1.5em;
    color:#fff;
    text-decoration: none;
    padding-left:75px;
    padding-right: 75px;
    display: block;

}

a:hover {
    background-color: #E89C6C;
}

img {
    width:600px;
    margin-left: 18px;
}

#picture {
    float: left;
    background-color: #FF957E;
}

#description {
    padding-top:1.2em;
    padding-bottom:2.4em;
    float: right;
    background-color: #FF957E;
}

article {
    background-color: #E89C6C;
    border-style: solid;
    border-width: 5px;
    margin: 10px;
}

footer {
    background-color: #FFED74;
    border-style: solid;
    border-width: 5px;
    margin: 10px
    padding: 1em 0;
    clear: both;
    text-align: center;
}

div {
    background-color: #FF957E;
    width: 46%;
    padding: 2%;
    display: inline-block;
    font-size: 1.8em;
    font-family: 'Raleway';
    overflow: auto;
    border-top-style: solid;
    border-top-width: 5px;

}

li {
    display: block;
    float: left;
}
ul {
    list-style-type: none;
    margin-bottom:1em;
    text-align: center;
    padding-bottom: 1em;
    font-family: 'Raleway';
}
