@import url('https://fonts.googleapis.com/css?family=Cinzel');
@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
    background-color: #3DBAF0;
    text-align:left;
    color:#000;
    font-family: georgia;
}

h1 {
    font-family: "Cinzel";
    color: black
    font-weight: bold;
    font-size: 5em;
    text-align: center;
}

h2 {
    font-family: "Raleway";
	font-size: 3em;
	font-weight: bold;
	text-align: center;
}

h3 {
    font-family: "Raleway";
	font-size:2em;
	font-weight:1200;
}

p {
	font-size: 1em;
	font-weight: 300;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}